h1 {
    font-size: 28px;
    color: #4f4f4f;
    font-weight: 600;
    width: fit-content;
}

.buttonSelect {
    display: flex;
    gap: 10px;
}

.page {
    color: #fff;
    cursor: pointer;
}

.pageSelected {
    font-weight: bold;
    color: green;
    cursor: pointer;
}